.image-resize-example {
  margin: var(--padding) 0;

  label {
    display: block;
    width: 100%;
  }

  input {
    width: 100%;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}