:root {
  --smallSize: 576px;
  --mediumSize: 768px;
  --largeSize: 992px;
  --extraSize: 1400px;
}

/* https://github.com/postcss/postcss-custom-media */
@custom-media --smallWidth (min-width: 576px);
@custom-media --mediumWidth (min-width: 768px);
@custom-media --largeWidth (min-width: 992px);
@custom-media --extraWidth (min-width: 1400px);
