src/routes/**/_images/*.jpg filter=lfs diff=lfs merge=lfs -text
src/routes/**/_images/*.png filter=lfs diff=lfs merge=lfs -text
src/routes/**/_images/*.gif filter=lfs diff=lfs merge=lfs -text
src/routes/**/_images/*.mp4 filter=lfs diff=lfs merge=lfs -text

# this file doesn't do exclusions, so ...
# include the entire direcotry and then explicitly make svgs text
static/images/**/*.* filter=lfs diff=lfs merge=lfs -text
static/images/**/*.svg filter= diff= merge= -text