@font-face {
  font-family: 'Science Gothic';
  src: url('ScienceGothicVF.ttf');
  unicode-range: U+0000-00FF;
  /* font-display: fallback; */
}

@font-face {
  font-family: 'Recursive';
  src: url('Recursive.woff2');
  unicode-range: U+0000-00FF;
  /* font-display: fallback; */
}

@font-face {
  font-family: 'LabDJR';
  src: url('LabDJR-VF.woff');
  unicode-range: U+0000-00FF;
  /* font-display: fallback; */
}