/* these live in a separate file so they can be important and programmatically shown on the styleguide */
/* make sure to set the unicode range to make these smaller */
/* https://jrgraphix.net/r/Unicode/0020-007F */

@font-face {
	font-family: 'Science Gothic';
	/* this is the no-italic variant */
	src: url('/fonts/ScienceGothic.ttf');
	unicode-range: U+0020-007F;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex';
	src: url('/fonts/IBM-Plex-Sans.woff2');
	unicode-range: U+0020-007F;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex';
	src: url('/fonts/IBM-Plex-Sans-Italic.woff2');
	font-style: italic;
	unicode-range: U+0020-007F;
	font-display: swap;
}

@font-face {
	font-family: Recursive;
	/* this is the latin subset variant */
	src: url('/fonts/Recursive.woff2');
	unicode-range: U+0020-007F;
	font-display: swap;
}

/* TODO - refactor this when/if `prefers-reduced-data` has full support */

:root {
	/* i'm not 100% sure this works, but do your best to always get a variable font on mac, window, and android */
	--font-fallback-stack: '-apple-system', 'San Francisco Variable', 'Segoe UI Variable',
		'Roboto Variable', system-ui;
	--font-display: 'Science Gothic', var(--font-fallback-stack), serif;
	--font-sans-serif: 'IBM Plex', var(--font-fallback-stack), sans-serif;
	--font-mono: 'Recursive', var(--font-fallback-stack), monospace;

	@media (prefers-reduced-data: reduce) {
		--font-display: var(--font-fallback-stack), serif;
		--font-sans-serif: var(--font-fallback-stack), sans-serif;
		--font-mono: var(--font-fallback-stack), monospace;
	}
}
