/* these live in a separate file so they can be important and programmatically shown on the styleguide */

/* font files are subsetted to a smaller unicode range */
/* https://jrgraphix.net/r/Unicode/0020-007F */
/* https://github.com/zachleat/glyphhanger */
/* can check with */
/* https://wakamaifondue.com/ */

@font-face {
	font-family: 'Science Gothic';
	/* this variant has had the slnt axis removed */
	src: url('/fonts/Science-Gothic.woff2');
	unicode-range: U+0020-007F;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex';
	/* intentionally not including the IBM-Plex-Sans-Italic file */
	src: url('/fonts/IBM-Plex-Sans.woff2');
	unicode-range: U+0020-007F;
	font-display: swap;
}

@font-face {
	/* needs quotes for a regex to work correctly */
	/* stylelint-disable-next-line font-family-name-quotes */
	font-family: 'Recursive';
	/* this variant has had the slnt and MONO axis removed */
	src: url('/fonts/Recursive.woff2');
	unicode-range: U+0020-007F;
	font-display: swap;
}

/* TODO - refactor this when/if `prefers-reduced-data` has full support */

:root {
	/* i'm not 100% sure this works, but do your best to always get a variable font on mac, window, and android */
	--font-fallback-stack: '-apple-system', 'San Francisco Variable', 'Segoe UI Variable',
		'Roboto Variable', system-ui;
	--font-display: 'Science Gothic', var(--font-fallback-stack), serif;
	--font-sans-serif: 'IBM Plex', var(--font-fallback-stack), sans-serif;
	--font-mono: 'Recursive', var(--font-fallback-stack), monospace;

	@media (prefers-reduced-data: reduce) {
		--font-display: var(--font-fallback-stack), serif;
		--font-sans-serif: var(--font-fallback-stack), sans-serif;
		--font-mono: var(--font-fallback-stack), monospace;
	}
}
