@import './variables.scss';

// breakpoints

@mixin small() {
  @media screen and (min-width: $smallBreak) {
    @content;
  }
}

@mixin medium() {
  @media screen and (min-width: $mediumBreak) {
    @content;
  }
}

@mixin large() {
  @media screen and (min-width: $largeBreak) {
    @content;
  }
}

@mixin extra() {
  @media screen and (min-width: $extraBreak) {
    @content;
  }
}

@mixin animate() {
  @media not all and (prefers-reduced-motion: reduce) {
    @content;
  }
}

// containers

@mixin container() {
  padding-left: var(--padding);
  padding-right: var(--padding);
  margin-left: auto;
  margin-right: auto;
  max-width: $extraBreak;
}

@mixin readable() {
  @include container();
  max-width: 65rem;
}

// @mixin font-size($desktop-size: 1.5em, $tablet-size: 1.25em, $phone-size: 1em) {
//   font-size: $desktop-size;
//   line-height: 1.25em;

//   @include tablet-break {
//     font-size: $tablet-size;
//   }

//   @include phone-break {
//     font-size: $phone-size;
//   }
// }

@mixin highlight(
    $color: var(--colorPrimary),
    $hoverColor: var(--colorLight),
    $backgroundColor: var(--colorPrimary) 
  ) {
  color: $color;
  transition: var(--transitionSpeed);
  background-image: linear-gradient(to right, transparent 51%, $backgroundColor 49%);
  background-position: 0;
  background-size: 200%;
  padding: 0 .125em;

  &:hover {
    color: $hoverColor;
    background-image: linear-gradient(to right, transparent 50%, $backgroundColor 50%);
    background-position: -100%;
  }
}

@mixin arrow($direction: right) {
  font-size: 1em;
  display: inline-block;
  width: 0;
  height: 0;

  @if $direction == up {
    border-left: .3em solid transparent;
    border-right: .3em solid transparent;
    border-bottom: .4em solid currentColor;
  }
  
  @if $direction == down {
    border-left: .3em solid transparent;
    border-right: .3em solid transparent;
    border-top: .4em solid currentColor;
  }
  
  @if $direction == right {
    border-top: .3em solid transparent;
    border-bottom: .3em solid transparent;
    border-left: .4em solid currentColor;
  }
  
  @if $direction == left {
    border-top: .3em solid transparent;
    border-bottom: .3em solid transparent; 
    border-right: .4em solid currentColor; 
  }
}
