@import './variables.module.scss';
@import './functions.module.scss';

:root {

  @include animate {
    --transitionSpeed: .2s;
  }

  --padding: 1rem;
  @include medium() {
    --padding: 2rem;
  }

  --primaryColor: rebeccapurple
}

html {
  @include animate {
    scroll-behavior: smooth;
  }

  // font-size: 12px;

  // body {
  //   font-size: 1.5rem;
  //   line-height: 1.5;
  // }
}