@import './variables.scss';
@import './functions.scss';
// @import '../../static/fonts/fonts.css';

:root {
  --containerMaxWidth: $largeBreak;

  @include animate {
    --transitionSpeed: .2s;
  }

  --padding: 1rem;
  @include medium() {
    --padding: 2rem;
  }

  --verticalSpacing: calc(2 * var(--padding));

  --px1: .25rem;
  --px2: calc(2 * var(--px1));

  // must interpolate to set scss variable to custom property
  --colorPrimary: #{$primary};
  --colorDark: #{$dark};
  --colorLight: #{$light};
  --colorHighlight: #{$highlight};
  --colorActive: #{$active};
  --colorDisabled: #{$disabled};
}

// html {
//   font-size: 12px;

//   body {
//     margin: 0;
//     font-size: 1.5rem;
//     line-height: 1;
//     background-color: var(--colorLight);
//     color: var(--colorDark);
//   }
// }

// * {
//   box-sizing: border-box;
  
//   @include animate {
//     scroll-behavior: smooth;
//   }
// }