@import './variables.scss';
@import './functions.scss';

:root {

  --containerMaxWidth: $largeBreak;

  @include animate {
    --transitionSpeed: .2s;
  }

  --padding: 1rem;
  @include medium() {
    --padding: 2rem;
  }

  --px1: .25rem;
  --px2: calc(2 * var(--px1));

  --colorPrimary: rebeccapurple;
  --colorWhite: white;
}

html {
  font-size: 12px;

  body {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1;
  }
}

* {
  @include animate {
    scroll-behavior: smooth;
  }
}