:root {
  --smallSize: 576px;
  --mediumSize: 768px;
  --largeSize: 992px;
  --extraSize: 1400px;
}

/* https://github.com/postcss/postcss-custom-media */
@custom-media --smallWidth (min-width: 576px);
@custom-media --mediumWidth (min-width: 768px);
@custom-media --largeWidth (min-width: 992px);
@custom-media --extraWidth (min-width: 1400px);


/* https://ferie.medium.com/detect-a-touch-device-with-only-css-9f8e30fa1134 */
@custom-media --touch (hover: none) and (pointer: coarse);
@custom-media --stylus (hover: none) and (pointer: fine);
@custom-media --pointer (hover: hover) and (pointer: coarse);
@custom-media --mouse (hover: hover) and (pointer: fine);

