$smallBreak: 576px;
$mediumBreak: 768px;
$largeBreak: 992px;
$extraBreak: 1400px;

// $dark: #1e053f;
// $light: #fff7ff;
// $primary: #192368;
// $active: #ed6554;
// $highlight: #7c1863;
// $disabled: #2f323a;
$dark: #0f0f0f;
$light: #ffffff;
$primary: #663390;
$active: #663390;
$highlight: #663390;
$disabled: #78757a;

// let webpack get grab these colors
:export {
  dark: $dark;
  light: $light;
  primary: $primary;
  active: $active;
  highlight: $highlight;
  disabled: $disabled;
}