.post {

  a {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    color: var(--primaryColor);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__header{
    font-family: sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: .5rem;
  }

  &__date{
    opacity: .75;
    font-weight: bold;
    margin-bottom: .75rem;
  }

  &__excerpt{
    margin-bottom: .5rem;
  }

  &__tags{
    opacity: .75;
    font-weight: bold;
    margin-bottom: .5rem;
  }

  &__link{
    &:after {
      content: '»';
      margin-left: .25em;
    }
  }
}
