@import '../../styles/variables.scss';
@import '../../styles/functions.scss';

.footer {
  // --background: var(--colorDark);
  --background: var(--colorPrimary);
  --text: var(--colorLight);
  font-size: 1rem;
  background: var(--background);
  color: var(--text);
  
  &__content {
    padding: .5rem;
    @include container;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  
    a {
      text-decoration: none;
      color: currentColor;
      margin: 0 .25em;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}