@import '../../styles/variables.scss';
@import '../../styles/functions.scss';

:root {
  // --headerBackground: var(--colorDark);
  --headerBackground: var(--colorPrimary);
  --headerText: var(--colorLight);
}

.header {
  background: var(--headerBackground);
  color: var(--headerText);
  position: relative; // catch banner <picture> element

  &__content {
    padding: 1rem;
    @include container;
    position: relative;
    z-index: 2;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
  
    a {
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  
    .logo {
      display: inline-block;
      color: currentColor;
      font-size: 1.5em;
      margin-bottom: 1rem;
    } 
  }
}