@import '../../styles/variables.scss';
@import '../../styles/functions.scss';

.header {
  --background: var(--colorPrimary);
  --text: var(--colorWhite);

  padding: 1rem;
  @include container;
  background: var(--background);
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }

  .logo {
    display: inline-block;
    color: currentColor;
    font-size: 1.5em;
    margin-bottom: 1rem;
  }

  @include small() {
    flex-direction: row;
    justify-content: space-between;

    .logo {
      margin-bottom: 0;
    }
  }
}