@import '../../styles/functions.scss';

// TODO remove this
.temp-bio {
  @include readable();
}

#site {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  justify-content: stretch;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  grid-template-areas:
    "header"
    "content"
    "footer";

  #site-header {
    grid-area: header;
    width: 100%;
    height: 100%;
  }

  #content {
    grid-area: content;
    width: 100%;
    max-height: 100%;
  }

  #site-footer {
    grid-area: footer;
    width: 100%;
    height: 100%;
  }

  // @include extra() {
  //   --sidebarWidth: 20rem;
  //   display: initial;

  //   #site-header .header__content,
  //   #site-footer {
  //     position: fixed;
  //     width: var(--sidebarWidth);
  //   }
    

  //   #site-header .header__content {
  //     background: var(--colorPrimary);
  //     top: 0;
  //     left: 0;
  //     height: 75vh;
  //   }

  //   #site-header,
  //   #content {
  //     margin-left: var(--sidebarWidth);
  //     width: calc(100% 0 var(--sidebarWidth));
  //   }

  //   #site-footer {
  //     bottom: 0;
  //     left: 0;
  //     height: 25vh;
  //   }

  //   #site-header .header__content,
  //   #site-footer .footer__content {
  //     text-align: center;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;

  //     nav {
  //       .logo {
  //         margin: 0 auto;
  //       }

  //       ul {
  //         width: 100%;
  //         display: flex;
  //         flex-direction: column;
  //         align-items: center;
  //         justify-content: center;

  //         li {
  //           margin: 0;
  //         }
  
  //         a {
  //           display: inline-block;
  //           margin: .5em;
  //         }
  //       }
  //     }
  //   }

  //   #site-footer .footer__content {
  //     height: 100%;
  //     justify-content: space-between;
  //   }
  // }
}