@import '../../styles/functions.scss';

.link {
  color: var(--colorPrimary);
  text-decoration: none;
  border-bottom: 0;
  border-bottom: 2px currentColor dotted;

  @include medium() {
    @include highlight();
  }
}
