.form {
  --borderWidth: calc(.25rem);
  --labelHeight: 1.25em;

  &__wrapper {
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

    button {
      display: block;
      cursor: pointer;
      border: none;
      background: var(--colorHighlight);
      color: var(--colorLight);
      transition: var(--transitionSpeed);
      font-size: 1em;
      padding: 1rem;
      margin: 0 auto;
  
      &:hover,
      &:focus {
        background: var(--colorActive);
      }
    }
  }
  
  &__error,
  &__success {
    width: 100%;
    text-align: center;

    button {
      margin-top: var(--padding);
    }
  }

  width: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;

  & > * {
    margin-bottom: calc(.5 * var(--padding));
    width: 100%;
    
    &:last-child {
      margin-bottom: 0;
    }
  } 

  &__row {
    min-height: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: currentColor;
    border: var(--borderWidth) solid var(--colorHighlight);
    flex: 0;

    overflow: hidden;
    
    &--textarea {
      flex: 1;

      textarea {
        padding-top: 1rem;
      }
    }

    label {
      text-transform: uppercase;
      color: var(--colorLight);
      background: var(--colorHighlight);
      order: 2;
      display: flex;
      align-items: center;
      line-height: 1;
      font-size: 1em;
      padding-left: 1rem;
      transition: margin var(--transitionSpeed);
      height: var(--labelHeight);
      margin-bottom: calc(-1 * var(--labelHeight) - var(--borderWidth));
      border-top: var(--borderWidth) solid var(--colorHighlight);
    }

    input, 
    textarea {
      background: var(--colorLight);
      color: var(--colorDark);
      font-size: 1em;
      padding: calc(.25 * var(--padding));
      border: var(--borderWidth) solid transparent;
      flex: 1;
      order: 1;
      box-shadow: none;
      resize: none;

      &:not([value=""]):invalid {
        color: var(--colorHighlight);
      }

      &::placeholder {
        text-transform: capitalize;
        color: var(--colorDisabled);
      }

      &:focus,
      &:not(:placeholder-shown) {
        outline: none;
        margin: 0;

        + label {
          margin-bottom: 0;
        }
      }
    }
  }

  @supports (writing-mode: sideways-lr) {
    &__row {
      flex-direction: row;
      flex-wrap: nowrap;

      label {
        order: -1;
        writing-mode: sideways-lr;
        height: 100%;
        padding: .25em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: unset !important;
        margin-left: calc(-1 * var(--labelHeight) - var(--borderWidth));
      }

      input, 
      textarea {
        &:focus,
        &:not(:placeholder-shown) {
          outline: none;
          margin: 0;
  
          + label {
            margin-left: 0;
          }
        }
      }
    }
  }
}
